header {
    margin: 10px;
    padding: 5px;
    text-decoration-color: black;

}
.high-scores{
    text-align: left;
}
.time{
    text-align: right;
}
h1{
    height: 100px;
    text-align: center;
    
}
.intro{
    text-align: center;
}
.question{
    text-align: center;
    float:right;
}
button{
    text-align: center;
}