*{
    box-sizing: border-box
}
header {
    margin: 10px;
    padding: 16px;
    text-decoration-color: black;
    

}
.high-scores{
    text-align: left;
}
.time{
    text-align: right;
}
h1{
    height: 100px;
    text-align: center;
    
}
.intro{
    text-align: center;
}
.question{
    text-align: center;

}
button{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0 5px 0;
    justify-content: space-between;
    padding: 16px;
    align-content: center;
}